{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <nav>
            <div>
                <div>
                    <div>
                        <div class="flex">
                            <img src="{% static 'myapp/images/shop.png' %}" width="100px" alt="logo">
                            <span class="text-8xl">Pro Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <h4>
            <!--<a href="/myapp/hello/{{item.id}}/"></a>-->
            {% for item in items %}
            <a href="{% url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Pret: {{item.price}} | Descriere: {{item.description}} <br/>
            </a>
            {% endfor %}
        </h4>
    </body>
</html>